@import './styles/colors.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  section[id] {
    scroll-margin-top: 7rem;
  }
}
